@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.cdnfonts.com/css/chalkboard");

.App {
  margin-top: 20px;
}

.gameContainer {
  position: relative;
  width: 375px;
  height: 667px;
  margin: 0 auto;
  padding: 30px 28px 0;
  background-color: #ffffff;
  text-align: center;
}

.settingsButtonsContainer {
  display: flex;
  flex-wrap: wrap;
}

.settingsButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.settingsButton:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.gameInstructions {
  width: 220px;
  margin: 0 auto;
  margin-block-start: 0;
  padding: 30px 0 70px;
  font-size: 16px;
  font-weight: 300;
}

.pageTitle {
  padding: 40px 0 20px;
  margin: 0;
  font-size: 30px;
  font-family: "chalkboard";
}

.optionTitle {
  font-family: "chalkboard";
  font-size: 22px;
  margin-bottom: 50px;
}

/* h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 24px;
} */

.topArea {
  position: relative;
}

.messageArea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: #8b4613;
}

.messageArea p {
  margin: 0;
}

.timerArea {
  height: 260px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #ffddc5;
  border-radius: 80px;
}

.timerBox {
  padding-top: 60px;
  padding-bottom: 16px;
}

.timeElapsed {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  text-align: left;
  font-size: 55px;
  font-weight: bold;
  background: #efefef;
  border: 6px solid #636363;
  width: 220px;
  margin: 0 auto;
  border-radius: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.tableOutter {
  overflow: auto;
  max-height: 460px;
  margin: 0 auto;
  width: 280px;
  border: 2px solid #8b4613;
}

.recordsTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid #ffab6f;
  font-size: 20px;
  font-family: "chalkboard";
  text-align: center;
}

.recordsTable td {
  height: 48px;
}

.recordsTable th {
  border-width: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.startStopButton {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #8b4513;
  font-size: 16px;
  color: #ffffff;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.optionsScreen {
  display: flex;
  padding: 0 10px 60px;
  align-items: center;
  flex-direction: column;
  background-color: #ffddc5;
}

.optionsTimes {
  display: flex;
  flex-wrap: wrap;
}

.optionsTimesContainer {
  width: calc(100% / 3);
  padding: 6px;
  box-sizing: border-box;
}

.optionsScreen button {
  width: 100%;
  height: 44px;
  margin-bottom: 16px;
  border: none;
  box-shadow: 0px 1px 2px rgba(139, 70, 19, 0.1),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  background-color: #fffbfe;
  font-size: 18px;
  color: #8b4613;
  font-family: "chalkboard";
}

.optionsScreen button:hover {
  background-color: #8b461380;
  color: #8b4613;
}

.seconds {
  width: 72px;
  padding-right: 6px;
  text-align: left;
}

.milliseconds {
  width: 70px;
  padding-left: 2px;
  text-align: left;
}

.optionsScreen .option.selected {
  background-color: #8b4613;
  color: #ffffff;
}

.arrowLeft {
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  box-sizing: border-box;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border-color: #434343;
  cursor: pointer;
}

.arrowLeft::after,
.arrowLeft::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  border-color: #434343;
}

.arrowLeft::after {
  width: 13px;
  height: 13px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 5px;
  border-color: #434343;
}

.arrowLeft::before {
  width: 18px;
  height: 3px;
  bottom: 10px;
  background: #434343;
  border-color: #434343;
}

.spacer {
  width: 2px;
  display: inline-block;
}

.recordsTable thead th {
  position: sticky;
  top: 0;
  padding: 16px 0 8px;
  background-color: #8b4613;
  color: #fff;
}

.recordsTable thead th:nth-child(3) {
  width: 80px;
}

.recordsTable tr:nth-child(odd) {
  border-bottom: 1px solid #e4e4e4;
}

.recordsTable tr:nth-child(even) {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e4e4e4;
}

.adContainer {
  position: absolute;
  bottom: 16px;
}

.adArea {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 50px;
  margin: 0 auto;
  background: #daffeb;
  align-items: center;
}

.aboutPage {
  font-family: "chalkboard";
  text-align: left;
  font-size: 16px;
}

.aboutPage h3 {
  padding-top: 28px;
}
